@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 241, 245, 249;
  --active-color: #7c3aed; /* Purple-600 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #f5f3ff 0%, #eff6ff 100%);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
